.mainHeader {
	margin: 0 0 25px 0;
	font-family: 'Oswald', sans-serif;
	background-color: #d9d9d9
}

.table {
	margin: 20px 0 300px 0;
}

p, ul {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 30px;
	font-size: 18px;
}

.captions {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

 h1, h6 {
 	font-family: 'Oswald', sans-serif;
 }

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 29px;
	text-align: center;
}

.featuredPhoto {
	text-align: center;
	margin: 0 0 30px 0;
}

.callout {
	background-color: #d9d9d9;
	font-size:  30px;
	width: 85%;
}
